@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Set all elements to use the Roboto font */
body,
input,
textarea,
button,
select {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

/* Set the background color of all pages */
html,
body {
    background-color: #FFFFFF;
}

/* Set the style of the navigation list */
header nav ul {
    background-color: #144ca3;
    border-bottom: 1px solid #ffffff;
    box-sizing: border-box;
    list-style: none;
    margin-top: 0;
    margin-bottom: 2em;
    padding: 0 0 0 1em;

}

/* Set the spacing and layout of the nav list items */
header nav ul li {
    display: inline-block;
    margin: 0 1em;
    padding: 1em 0 1em 0;
}

/* Set the style of the links in the nav */
header nav ul li a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: large;
}

/* Make the input tags look nicer */
input {
    height: 1.5em;
    margin: 0;
    padding: .25em .5em;
}

/* Make the select boxes look nicer */
select {
    height: 2.5em;
}

/* Make the select-multiple boxes look nicer */
select[multiple] {
    height: 7.5em;
}

/* Make the textarea inputs look nicer */
textarea {
    margin: 0;
    padding: .25em .5em;
}

/* Set the width on all tables */
table {
    margin: auto;
    width: calc(100% - 30px);
    border-collapse: collapse;
    box-shadow: 0 2px 4px #0d4f6f;
}

/* Set the size of the help text in forms */
.helptext {
    display: block;
    font-size: 80%;
}

/* Make the login and sign-up forms look nicer */
.login-form,
.signup-form {
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 2px 4px #0d4f6f;
    margin: auto;
    max-width: 400px;
    padding: 2em;
}

/* Make the task and projects forms look nicer */
.task-form,
.project-form {
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 2px 4px #0d4f6f;
    margin: auto;
    max-width: 600px;
    padding: 2em;
}

/* Make all of the headers the same */
.task-form h1,
.login-form h1,
.signup-form h1,
.project-list h1,
.project-form h1,
.project-detail h1 {
    margin-top: 0;
}

/* Add spacing to the section of the project detail */
.project-detail h2 {
    margin-top: 2em;
}

/* Standardize form layout using grid */
.task-form p,
.login-form p,
.signup-form p,
.project-form p {
    display: grid;
    align-items: center;
    column-gap: 10px;
    grid-template-columns: 100px 1fr;
}

/* Standardize help text positions in the grid */
.task-form p .helptext,
.login-form p .helptext,
.signup-form p .helptext,
.project-form p .helptext {
    grid-column-start: 2;
    grid-column-end: 3;
}

/* Make the buttons a little larger */
.task-form button,
.my-tasks-list button,
.login-form button,
.signup-form button,
.project-form button {
    padding: 0.25em 1em;
}

/* Add a nice box around the lists and details */
.my-tasks-list,
.project-list,
.project-detail {
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 2px 4px #0d4f6f;
    margin: auto;
    max-width: 800px;
    padding: 2em;
}

/* Add padding to the table header and table datum tags */
.my-tasks-list th,
.my-tasks-list td,
.project-list th,
.project-list td,
.project-detail th,
.project-detail td {
    padding: .5em;
}

/* Add a bottom border to the table header tags */
.my-tasks-list thead tr th,
.project-list thead tr th,
.project-detail thead tr th {
    border-bottom: 2px solid #04142b;
}

/* Center align the text on specific table header cells */
.my-tasks-list tbody td:nth-child(2),
.my-tasks-list tbody td:nth-child(3),
.my-tasks-list tbody td:nth-child(4),
.project-list tbody tr td,
.project-detail tbody td:nth-child(2),
.project-detail tbody td:nth-child(3),
.project-detail tbody td:nth-child(4),
.project-detail tbody td:nth-child(5) {
    text-align: center;
}

/* Add horizontal rules to all rows except the last */
.my-tasks-list tbody :not(tr:last-child) td,
.project-list tbody :not(tr:last-child) td,
.project-detail tbody :not(tr:last-child) td {
    border-bottom: 1px solid #04142b;
}

/* TABLE----------------------------------------------------------- */
tr:nth-child(odd) {
    background-color: rgb(218, 218, 218, 0.9);
    border-bottom: 1px solid #04142b;
    border-right: 1px solid #04142b;
    border-left: 1px solid #04142b;
}

tr:nth-child(even) {
    background-color: rgb(255, 255, 255, 0.9);
    border-bottom: 1px solid #04142b;
    border-right: 1px solid #04142b;
    border-left: 1px solid #04142b;
}

th {
    background-color: rgb(255, 255, 255, 0.9);
}

/* GENERAL------------------------------------------------------------ */
.plot {
    box-shadow: 0 2px 4px #878787;
}

h1,
h2,
h3,
p,
a,
tr {
    color: #0b2253;
    text-decoration: none;
}

h1,
h2,
h3 {
    /* offset-x | offset-y | blur-radius | color */
    text-shadow: #fff 0px 0px 0px;
}

a:hover {
    text-decoration: underline;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    padding: 32px;
    margin-top: auto;
    background-image: url('/static/pics/footer.jpg');
}

/* LOGIN & SIGNUP FORMS--------------------------------------------------- */

.loginbackground {
    background-image: url('/static/pics/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.loginform {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    opacity: 99%;
    max-width: 260px;
    margin: 200px auto 100px;
    padding: 10px 45px 30px 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 10px;
}

.loginform p {
    font-size: 18px;
    padding: 1px;
    text-align: center;
}

.loginform input {
    outline: 0;
    border-radius: 10px;
    background: #F2F2F2;
    width: 100%;
    border: 0;
    margin: 0 0 1px;
    padding: 20px;
    box-sizing: border-box;
    font-size: 16px;
}

.loginform input:hover {
    background-color: #D3F8F9;
    transition: all 1s ease 0s;
}

.loginform input:focus {
    background-color: #D3F8F9;
    transition: all 1s ease 0s;
}

.loginform button {
    text-transform: uppercase;
    outline: 0;
    border-radius: 10px;
    background: #1ADBE5;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 18px;
    cursor: pointer;
}

.loginform button:hover,
.loginform button:active,
.loginform button:focus {
    background-color: #06C5CF;
    transition: all 1s ease 0s;
}

.loginform .message {
    margin: 15px 0 0;
    color: #B3B3B3;
    font-size: 16px;
}

.loginform .message a {
    color: #06C5CF;
    text-decoration: none;
}

/* other pages layouts-------------------------------------------- */

.background1 {
    background-image: url('/static/pics/backgroundlists1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.background2 {
    background-image: url('/static/pics/backgroundlists2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.background3 {
    background-image: url('/static/pics/backgroundlists3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.background4 {
    background-image: url('/static/pics/travel.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.nicetext {
    text-align: justify;
    text-justify: inter-word;
    background-color: rgb(255, 255, 255, 0.9);
    padding: 10px;
    box-shadow: 0 2px 4px #0d4f6f;
}

.tableheader {
    text-align: left;
}

.marginsides {
    margin-right: 15px;
    margin-left: 15px;
}

.marginstopbottom {
    margin-top: 15px;
    margin-bottom: 15px;
}

/* BUTTONS TO CREATE STUFF--------------------------------------- */

.createbutton {
    text-transform: uppercase;
    display: block;
    width: 200px;
    height: 25px;
    background: #1ADBE5;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    line-height: 25px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    ;
}

.createbutton:hover,
.createbutton:active,
.createbutton:focus {
    background-color: #06C5CF;
    transition: all 1s ease 0s;
}

/* CREAT FORMS-------------------------------------------------- */

.createformbackground {
    background-image: url('/static/pics/forms.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.createform {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    opacity: 99%;
    max-width: 1000px;
    margin: auto;
    padding: 10px 10px 10px 10px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 10px;
}

.createform p {
    font-size: 18px;
    padding: 1px;
    width: 100%;
}

.createform input {
    outline: 0;
    border-radius: 10px;
    background: #F2F2F2;
    width: 100%;
    border: 0;
    margin: 0 0 1px;
    padding: 20px;
    box-sizing: border-box;
    font-size: 16px;
}

.createform input:hover {
    background-color: #D3F8F9;
    transition: all 1s ease 0s;
}

.createform input:focus {
    background-color: #D3F8F9;
    transition: all 1s ease 0s;
}

.createform button {
    text-transform: uppercase;
    outline: 0;
    border-radius: 10px;
    background: #1ADBE5;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 18px;
    cursor: pointer;
}

.createform button:hover,
.createform button:active,
.createform button:focus {
    background-color: #06C5CF;
    transition: all 1s ease 0s;
}

.createform textarea {
    display: block;
    width: 98%;
    height: 500px;
}

/* NEON TEXT------------------------------------------------------------------ */

.neonText {
    color: #144ca3;
    text-align: center;
    margin-top: 60px;
    font-size: 30px;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #06C5CF,
        0 0 82px #06C5CF,
        0 0 92px #06C5CF,
        0 0 102px #06C5CF,
        0 0 151px #06C5CF;
}

@keyframes flicker {

    0%,
    18%,
    22%,
    25%,
    53%,
    57%,
    100% {
        text-shadow:
            0 0 4px #fff,
            0 0 11px #fff,
            0 0 19px #fff,
            0 0 40px #06C5CF,
            0 0 80px #06C5CF,
            0 0 90px #06C5CF,
            0 0 100px #06C5CF,
            0 0 150px #06C5CF;
    }

    20%,
    24%,
    55% {
        text-shadow: none;
    }
}

@keyframes pulsate {
    100% {
        /* Larger blur radius */
        text-shadow:
            0 0 4px #fff,
            0 0 11px #fff,
            0 0 19px #fff,
            0 0 40px #06C5CF,
            0 0 80px #06C5CF,
            0 0 90px #06C5CF,
            0 0 100px #06C5CF,
            0 0 150px #06C5CF;
    }

    0% {
        /* Smaller blur radius */
        text-shadow:
            0 0 2px #fff,
            0 0 4px #fff,
            0 0 6px #fff,
            0 0 10px #06C5CF,
            0 0 45px #06C5CF,
            0 0 55px #06C5CF,
            0 0 70px #06C5CF,
            0 0 80px #06C5CF;
    }
}

.flickpuls {
    animation: flicker 1s infinite alternate;
    animation: pulsate 1s infinite alternate;
}
