{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tracker</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
{% block background %}{% endblock background %}
    <header>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'list_projects' %}">My publications</a>
                </li>
                <li>
                    <a href="{% url 'show_my_tasks' %}">My sections</a>
                </li>
                <li>
                    <a href="{% url 'show_my_conferences' %}">My conferences</a>
                </li>
                <li>
                    <a href="{% url 'logout' %}">logout</a>
                </li>
                {% else %}
                <li>
                    <a href="{% url 'login' %}">Login</a>
                </li>
                <li>
                    <a href="{% url 'signup' %}">Sign Up</a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock content %}
    </main>
</body>
<footer>
  </footer>
</html>
