{% extends 'base.html' %}

{% block background %}
    <body class="loginbackground">
{% endblock background %}

{% block content %}
<div class="loginform">
    <h1>Login</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button>Login</button>
        <p class="message">Not registered? <a href="{% url 'signup' %}">Sign up</a></p>
    </form>
</div>
{% endblock content %}
