{% extends 'base.html' %}

{% block background %}
    <body class="loginbackground">
{% endblock background %}

{% block content %}
<div class="loginform">
    <h1>Signup</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button>Signup</button>
        <p class="message">Already registered? <a href="{% url 'login' %}">Login</a></p>
    </form>
</div>
{% endblock content %}
