{% extends 'base.html' %}

{% block background %}
    <body class="background3">
{% endblock background %}

{% block content %}
    <div>
        <h1 class="marginsides">My Sections</h1>
        <p><a class="createbutton marginsides" href="{% url 'create_task' %}">Create a new section</a></p>
        {% if tasks_list.count > 0 %}
        <table class="tableheader">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Start date</th>
                    <th>Due date</th>
                    <th>Is completed</th>
                </tr>
            </thead>
            <tbody>
                {% for thing in tasks_list %}
                    <tr>
                        <td>{{ thing.name }}</td>
                        <td>{{ thing.start_date|date:"j F, Y" }}</td>
                        <td>{{ thing.due_date|date:"j F, Y" }}</td>
                        <td>{{ thing.is_completed|yesno }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
            <p>You have no task</p>
        {% endif %}
    </div>
{% endblock content %}
