{% extends 'base.html' %}

{% block background %}
    <body class="createformbackground">
{% endblock background %}

{% block content %}
<div class="createform">
    <h1>Create a new article</h1>
    <form class="formsize" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button>Create</button>
    </form>
</div>
{% endblock content %}
