{% extends 'base.html' %}

{% block background %}
    <body class="background1">
{% endblock background %}

{% block content %}
<div>
    <h1 class="marginsides">My Publications</h1>
    <p><a class="createbutton marginsides" href="{% url 'create_project' %}">Create a new article</a></p>
    {% if projects_list.count > 0 %}
    <table class="marginsides marginstopbottom">
        <thead class="tableheader">
            <tr>
                <th>Title</th>
                <th>Authors</th>
                <th>Journal</th>
                <th>Publication date</th>
                <th>Number of sections</th>
                <th>Go to article</th>
            </tr>
        </thead>
        <tbody>
            {% for thing in projects_list %}
            <tr>
                <td><a href="{% url 'show_project' thing.id %}">{{ thing.name }}</a></td>
                <td>{{ thing.authors }}</td>
                <td>{{ thing.journal }}</td>
                <td>{{ thing.publication_date }}</td>
                <td>{{ thing.tasks.count }}</td>
                <td><a href="{{ thing.link }}">link</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>You are not assigned to any article</p>
    {% endif %}
</div>
<div class="plot marginsides marginstopbottom">
    {% autoescape off %}
        {{ bar_div }}
    {% endautoescape %}
</div>
{% endblock content %}
