{% extends 'base.html' %}

{% block background %}
    <body class="background1">
{% endblock background %}

{% block content %}
<div>
    <h1 class="marginsides">{{ particular_project.name }}</h1>
    <h3 class="marginsides">{{ particular_project.authors }}</h3>
    <h3 class="marginsides">{{ particular_project.journal }}, {{ particular_project.publication_date }}</h3>
    <p class="nicetext marginsides">{{ particular_project.description }}</p>
    <h2 class="marginsides">Sections</h2>
    <p class="marginsides"><a class="createbutton" href="{% url 'create_task' %}">Create a new section</a></p>
    {% if particular_project.tasks.count > 0 %}
    <table class="marginsides marginstopbottom">
        <thead>
            <tr>
                <th>Name</th>
                <th>Assignee</th>
                <th>Start date</th>
                <th>Due date</th>
                <th>Is completed</th>
            </tr>
        </thead>
        <tbody>
            {% for thing in particular_project.tasks.all %}
            <tr>
                <td>{{ thing.name }}</td>
                <td>{{ thing.assignee }}</td>
                <td>{{ thing.start_date }}</td>
                <td>{{ thing.due_date }}</td>
                <td>{{ thing.is_completed|yesno }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p class="marginsides">This project has no section</p>
    {% endif %}
</div>
<div class="plot marginsides marginstopbottom">
    {% autoescape off %}
        {{ plot_div }}
    {% endautoescape %}
</div>
{% endblock content %}
