{% extends 'base.html' %}

{% block background %}
    <body class="background4">
{% endblock background %}

{% block content %}
    <div>
        <h1 class="marginsides">My Conferences</h1>
        <p><a class="createbutton marginsides" href="{% url 'create_conference' %}">Create a new event</a></p>
        {% if conferences_list.count > 0 %}
        <table class="tableheader">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Location</th>
                    <th>Start date</th>
                    <th>Finish date</th>
                    <th>Presentation type</th>
                    {% comment %} <th>Title</th> {% endcomment %}
                </tr>
            </thead>
            <tbody>
                {% for thing in conferences_list %}
                    <tr>
                        <td>{{ thing.name }}</td>
                        <td>{{ thing.location }}</td>
                        <td>{{ thing.start_date|date:"j F, Y" }}</td>
                        <td>{{ thing.finish_date|date:"j F, Y" }}</td>
                        <td>{{ thing.presentation_type }}</td>
                        {% comment %} <td>{{ thing.presenation_title }}</td> {% endcomment %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
            <p>You have no conference</p>
        {% endif %}
    </div>
    <div>
        <p class="neonText flickpuls">
            {{ conferences_list|length }} events so far!
        </p>
    </div>
{% endblock content %}
